/*--------------------- TIPOGRAFIA IMPORTADA------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Sansita+Swashed:wght@800&family=Urbanist:ital,wght@1,600&display=swap');

/*-------------------------------------------------------*/

#banner {
    width: 100%;
    height: 100vh;
    background-image: url(Assets/joyas-oro-sobre-fondo-rosa-blanco_112112-567.jpg);
    background-position: center;
    background-size: cover;
}

.titleUno {
    font-family: 'Noto Serif JP', serif;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
}

.text {
    padding: 20px 8%;
}

.menu {
    margin-left: 30%;
    text-transform: capitalize;
}

.fontNavBar {
    background: #FE889F;
}

.nav-item2 {
    padding-left: 10%;
}

.nav-item2 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-item2 a:hover::after {
    width: 80%;
}

.titleDos {
    font-family: 'Sansita Swashed', cursive;
    color: #333333;
    font-size: 3em;
    margin: 4%;
    margin-right: 60%;
}

.text-box p {
    font-family: 'Urbanist', sans-serif;
    margin-left: 4%;
    margin-right: 60%;
    font-size: 18px;
    color: #333333;
}

.text-box a {
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    color: #333333;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-left: 4%;
    color: #333333;
    border: 1px solid #FE889F;
    padding: 12px 34px;
    font-size: 13px;
    background: #FE889F;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    border: 1px solid #333333;
    background: transparent;
    transition: .5s;
}

/*--------- MEDIA QUERY DEL BANNER, MENU,TITULO Y ESLOGAN-----------*/

@media screen and (max-width: 700px) {
    .titleDos {
        font-size: 30px;
        margin-right: 40%;
    }

    .text-box p {
        margin-right: 50%;
        font-size: 14px;
    }

    .text-box a {
        font-size: 12px;
    }

    .btn {
        padding: 10px 20px;
    }

    .nav-item2 {
        text-align: center;
        padding-right: 60%;
    }

    .nav-item2 a {
        font-size: 12px;
        text-transform: uppercase;
    }

    .fontNavBar {
        background: #fe889f48;
    }
}

@media screen and (max-width: 510px) {

    .titleUno {
        font-size: 40px;
    }

    .titleDos {
        font-size: 30px;
        margin: 30% 20% 0 5%;
    }

    .text-box p {
        font-size: 18px;
        margin: 5%;
        margin-right: 20%;
    }

    .nav-item2 {
        text-align: center;
        padding-right: 40%;
    }

    .nav-item2 a {
        font-size: 18px;
        text-transform: uppercase;
    }

    .fontNavBar {
        background: #fe889f48;
    }
}

@media screen and (max-width: 393px) {
    .titleUno {
        font-size: 50px;
    }

    .titleDos {
        font-size: 30px;
        margin: 25% 10% 0 10%;
    }

    .text-box p {
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .nav-item2 {
        text-align: center;
        padding-right: 40%;
    }

    .nav-item2 a {
        font-size: 16px;
        text-transform: uppercase;
    }

    .fontNavBar {
        background: #fe889f48;
    }

    .text-box .btn {
        margin-left: 10%;
    }
}

/*--------------- FIN --------------*/

/*----------------------- SERVICIOS SECCION  ---------------------*/

.service {
    width: 100%;
    height: auto;
    padding: 50px 10vw;
}

.heading {
    margin-top: 20%;
    font-family: 'Sansita Swashed', cursive;
    color: #333333;
    text-transform: capitalize;
    font-size: 50px;
}

.serviciosContainer {
    margin: 90px 0 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
}

.left-col,
.right-col {
    position: relative;
}

.serviciosImage {
    height: 120%;
}

.serviciosText {
    font-family: 'Urbanist', sans-serif;
    color: #333333;
    text-align: justify;
    margin: 3% 20% 10%;
    font-size: 18px;
}

.adjust {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 40px;
    padding-top: 80px;
    display: inline-block;
}


/*----------------- MEDIA QUERYS -----------*/

@media screen and (max-width: 700px) {

    .serviciosContainer {
        grid-template-columns: 2fr;
        margin-top: 5%;
    }

    .serviciosImage {
        margin-left: 40%;
        border-radius: 10px;
    }

    .left-col {
        width: 50%;
        min-width: 320px;
    }
}

@media screen and (max-width: 510px) {

    .serviciosImage {
        margin-left: 15%;
    }

    .serviciosText {
        margin: auto;
        line-height: 30px;
        font-size: 18px;
    }
}

@media screen and (max-width: 393px) {
    .serviciosImage {
        margin-left: auto;
    }
}

/*------------------------ FIN --------------------------*/

/*---------------------------- ACCESORIOS SECCION ---------------------*/

.accesorios .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
    width: 100%;
}

.accesorios .content .workBx {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.accesorios .content .workBx .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}

.accesorios .content .workBx:hover .imgBx {
    transform: translateY(-100%);
}

.accesorios .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accesorios .content .workBx .textBx {
    font-family: 'Urbanist', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
    background: #FE889F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesorios .content .workBx:hover .textBx {
    transform: translateY(0);
}

/*-------------------- MEDIA QUERY------------------*/
@media screen and (max-width: 700px) {
    .adjust {
        padding: 0 20px;
        padding-top: 40px;
    }

    .accesorios .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 393px) {
    .accesorios .content {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*---------- HOT SALE SECCION -----------*/

.imageSection {
    margin: 100px auto;
    width: 80%;
    background-image: url(Assets/2810279.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    padding: 100px 0;
}

.imageSection a {
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    color: #333333;
}

/*------------- FIN ------------------------*/

/*------------------ CONTACTANOS SECCION-----------------*/
.footer {
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 0;
    background: #FFB7C2;
    position: relative;
}

.foottRow {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foottLeft {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}


.foottRight {
    text-align: right;
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.titleTres {
    padding: 2% 5% 2%;
    font-family: 'Sansita Swashed', cursive;
    color: #333333;
    font-size: 50px;
    text-align: center;
}

.foottRow h4 {
    font-family: 'Sansita Swashed', cursive;
    margin: 10px 0;
    font-size: 28px;
    color: #333333;
}

.foottRow p {
    font-family: 'Urbanist', sans-serif;
    color: #333333;
    line-height: 35px;
    font-size: 16px;
}

.foottRight .code {
    font-size: 20px;
    color: #fff;
    margin: 10px;
}

.foottImg {
    width: 20%;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    padding-top: 30%;
    transform: translate(-50%, -50%);
}

.socialLink {
    text-align: center;
}

.socialLink .social {
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    margin: 40px 5px 0;
    background: #FE889F;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.socialLink .social:hover {
    border: 2px solid;
    color: #Fff;
    transform: translateY(-7%);
}


@media screen and (max-width:770px) {
    .foottLeft {
        flex-basis: 100%;
        font-size: 14px;
    }

    .foottRight {
        flex-basis: 100%;
        font-size: 14px;
    }

    .foottImg {
        width: 40%;
        top: 25%;
    }
}

@media screen and (max-width: 510px) {

    .foottImg {
        width: 60%;
        top: 45%;
    }
}

@media screen and (max-width:393px) {

    .footer {
        margin-top: 150px;
        width: 100%;
        height: 100%;
    }
}